.description{
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 0;
    min-height: 36px;
    color: rgb(97, 95, 95);
}
h1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(162, 160, 160);
    margin: 0;
}